/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 20, ../sass/screen.scss */
html {
  background: #292A37;
  color: #E1E2E7;
  font-family: "Menlo", "Courier New", monospace;
  font-size: 18px;
  padding: 5%;
}

/* line 30, ../sass/screen.scss */
body {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/* line 39, ../sass/screen.scss */
.header h1 {
  font-size: 4em;
  color: #00ABA5;
  padding-bottom: 5px;
  text-indent: 1.2em;
}
/* line 46, ../sass/screen.scss */
.header h2 {
  width: 100%;
  font-size: 1em;
  text-indent: 4.8em;
}
/* line 52, ../sass/screen.scss */
.header a {
  color: #4A61DE;
  text-decoration: none;
  border: 0px solid transparent;
  border-bottom: 2px solid transparent;
  transition: border .25s;
}
/* line 60, ../sass/screen.scss */
.header a:hover {
  border-bottom: 2px solid #4A61DE;
}
@keyframes colorShiftAnimation {
  0% {
    -webkit-filter: hue-rotate(-180deg);
    filter: hue-rotate(-180deg);
  }
  100% {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
  }
}
/* line 76, ../sass/screen.scss */
.header img.logo {
  height: 1em;
  position: absolute;
  margin-left: -1.2em;
  animation-name: colorShiftAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
/* line 88, ../sass/screen.scss */
.header .links ul {
  display: inline-block;
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  margin-top: 5%;
}
/* line 97, ../sass/screen.scss */
.header .links ul li {
  list-style: none;
  margin: 0;
  margin-right: 1%;
  display: inline;
}
/* line 103, ../sass/screen.scss */
.header .links ul li a {
  font-size: 1em;
  padding: 1%;
  background: rgba(0, 171, 165, 0.2);
  color: #00ABA5;
  border-color: #00ABA5;
  transition: background .5s, border .5s, color .5s;
}
/* line 113, ../sass/screen.scss */
.header .links ul li a:hover, .header .links ul li a.active {
  background: #00aba5;
  color: #E1E2E7;
}

/* line 124, ../sass/screen.scss */
form {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 5%;
}
/* line 131, ../sass/screen.scss */
form ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #d3d4dc;
}
/* line 134, ../sass/screen.scss */
form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #d3d4dc;
  opacity: 1;
}
/* line 138, ../sass/screen.scss */
form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #d3d4dc;
  opacity: 1;
}
/* line 142, ../sass/screen.scss */
form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #d3d4dc;
}
/* line 146, ../sass/screen.scss */
form label {
  padding: 1%;
  display: inline-block;
}
/* line 151, ../sass/screen.scss */
form input, form a.cancel {
  width: 100%;
  box-sizing: border-box;
  background: transparent;
  color: #E1E2E7;
  text-decoration: none;
  border: none;
  font-size: 1em;
  padding: 1%;
  margin: 0;
  transition: background .5s;
  font-family: "Menlo", "Courier New", monospace;
}
/* line 164, ../sass/screen.scss */
form input.title, form a.cancel.title {
  font-size: 2em;
}
/* line 170, ../sass/screen.scss */
form input:focus, form a.cancel:focus {
  outline: none;
  background: #7e8298;
}
/* line 175, ../sass/screen.scss */
form input.submit, form a.cancel.submit {
  cursor: pointer;
  max-width: 200px;
}
/* line 180, ../sass/screen.scss */
form input.submit:hover, form a.cancel.submit:hover {
  outline: none;
  background: #7e8298;
}
/* line 186, ../sass/screen.scss */
form input.cancel, form a.cancel.cancel {
  color: #595d70;
  transition: color .5s;
}
/* line 189, ../sass/screen.scss */
form input.cancel:hover, form a.cancel.cancel:hover {
  color: #E1E2E7;
}
/* line 195, ../sass/screen.scss */
form textarea {
  width: 100%;
  height: 250px;
  box-sizing: border-box;
  background: #595d70;
  color: #E1E2E7;
  border: none;
  font-size: 1em;
  padding: 1%;
  transition: background .5s;
}
/* line 208, ../sass/screen.scss */
form textarea:focus {
  background: #7e8298;
  outline: none;
}

/* line 216, ../sass/screen.scss */
.body {
  padding-top: 5%;
}
/* line 220, ../sass/screen.scss */
.body .post {
  margin-bottom: 5%;
  background: #595d70;
}
/* line 224, ../sass/screen.scss */
.body .post .top {
  background: #00ABA5;
}
/* line 227, ../sass/screen.scss */
.body .post .top h1 {
  font-size: 2em;
  padding: 1%;
  transition: background .5s;
  display: block;
  position: relative;
}
/* line 234, ../sass/screen.scss */
.body .post .top h1:before {
  content: "\f0c1";
  position: absolute;
  display: inline-block;
  top: 0;
  right: 1%;
  opacity: 0;
  transition: background .5s;
  background: rgba(0, 171, 165, 0.5);
  padding: 1%;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  color: #00ABA5;
}
/* line 256, ../sass/screen.scss */
.body .post .top a {
  text-decoration: none;
  color: #E1E2E7;
}
/* line 262, ../sass/screen.scss */
.body .post .top a:hover h1 {
  background: #007874;
}
/* line 265, ../sass/screen.scss */
.body .post .top a:hover h1:before {
  background: rgba(0, 120, 116, 0.5);
  opacity: 1;
}
/* line 272, ../sass/screen.scss */
.body .post .top h2, .body .post .top h3 {
  font-size: 1em;
  padding: 1%;
  width: auto;
  display: inline-block;
}
/* line 284, ../sass/screen.scss */
.body .post.red .top {
  background: #EE0F21;
}
/* line 287, ../sass/screen.scss */
.body .post.red .top h1:before {
  background: rgba(238, 15, 33, 0.5);
  color: #EE0F21;
}
/* line 293, ../sass/screen.scss */
.body .post.red a:hover h1 {
  background: #be0c1a;
}
/* line 296, ../sass/screen.scss */
.body .post.red a:hover h1:before {
  background: rgba(190, 12, 26, 0.5);
}
/* line 303, ../sass/screen.scss */
.body .post.green .top {
  background: #85D06D;
}
/* line 306, ../sass/screen.scss */
.body .post.green .top h1:before {
  background: rgba(133, 208, 109, 0.5);
  color: #85D06D;
}
/* line 312, ../sass/screen.scss */
.body .post.green a:hover h1 {
  background: #65c446;
}
/* line 315, ../sass/screen.scss */
.body .post.green a:hover h1:before {
  background: rgba(101, 196, 70, 0.5);
}
/* line 322, ../sass/screen.scss */
.body .post.orange .top {
  background: #DB8D53;
}
/* line 325, ../sass/screen.scss */
.body .post.orange .top h1:before {
  background: rgba(219, 141, 83, 0.5);
  color: #DB8D53;
}
/* line 331, ../sass/screen.scss */
.body .post.orange a:hover h1 {
  background: #d0712b;
}
/* line 334, ../sass/screen.scss */
.body .post.orange a:hover h1:before {
  background: rgba(208, 113, 43, 0.5);
}
/* line 341, ../sass/screen.scss */
.body .post.purple .top {
  background: #877BCD;
}
/* line 344, ../sass/screen.scss */
.body .post.purple .top h1:before {
  background: rgba(135, 123, 205, 0.5);
  color: #877BCD;
}
/* line 350, ../sass/screen.scss */
.body .post.purple a:hover h1 {
  background: #6556bf;
}
/* line 353, ../sass/screen.scss */
.body .post.purple a:hover h1:before {
  background: rgba(101, 86, 191, 0.5);
}
/* line 360, ../sass/screen.scss */
.body .post.blue .top {
  background: #4A61DE;
}
/* line 363, ../sass/screen.scss */
.body .post.blue .top h1:before {
  background: rgba(74, 97, 222, 0.5);
  color: #4A61DE;
}
/* line 369, ../sass/screen.scss */
.body .post.blue a:hover h1 {
  background: #2640cf;
}
/* line 372, ../sass/screen.scss */
.body .post.blue a:hover h1:before {
  background: rgba(38, 64, 207, 0.5);
}
/* line 378, ../sass/screen.scss */
.body .post .content h1, .body .post .content h2, .body .post .content h3, .body .post .content h4, .body .post .content h5 {
  padding: 2%;
  color: #00ABA5;
}
/* line 383, ../sass/screen.scss */
.body .post .content h1 {
  font-size: 2em;
}
/* line 387, ../sass/screen.scss */
.body .post .content h2 {
  font-size: 1.5em;
}
/* line 391, ../sass/screen.scss */
.body .post .content p {
  padding: 2%;
  line-height: 1.5em;
  font-family: "Helvetica Neue", "Helvetica", "Tahoma", "Arial", sans-serif;
  font-weight: 400;
  letter-spacing: 1.1;
  text-align: justify;
  justify-content: space-around;
}
/* line 402, ../sass/screen.scss */
.body .post .content pre {
  background: #4e5162;
  padding: 2%;
  line-height: 1em;
}
/* line 411, ../sass/screen.scss */
.body .post.loading {
  overflow: hidden;
  opacity: .5;
}
/* line 414, ../sass/screen.scss */
.body .post.loading .top {
  background: #7e8298;
}
@keyframes loadingAnimation {
  0% {
    background-position: 100% 0px;
  }
  100% {
    background-position: -100% 0px;
  }
}
/* line 428, ../sass/screen.scss */
.body .post.loading span.loading {
  height: 1em;
  width: 200px;
  background: rgba(225, 226, 231, 0.2);
  display: inline-block;
  position: relative;
  background-image: linear-gradient(to left, rgba(225, 226, 231, 0.1), rgba(225, 226, 231, 0), 40%, rgba(225, 226, 231, 0.1), 50%, rgba(225, 226, 231, 0.1));
  background-size: 200%;
  animation-name: loadingAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
/* line 443, ../sass/screen.scss */
.body .post.loading h1 span.loading {
  width: 80%;
}
/* line 447, ../sass/screen.scss */
.body .post.loading p span.loading {
  width: 90%;
  margin-bottom: 3.5em;
  margin-top: .5em;
}
/* line 452, ../sass/screen.scss */
.body .post.loading p span.loading:before {
  content: "";
  width: 107%;
  background: rgba(225, 226, 231, 0.2);
  height: 1em;
  display: inline-block;
  position: relative;
  margin-top: 1.5em;
  background-image: linear-gradient(to left, rgba(225, 226, 231, 0.1), rgba(225, 226, 231, 0), 40%, rgba(225, 226, 231, 0.1), 50%, rgba(225, 226, 231, 0.1));
  background-size: 200%;
  animation-name: loadingAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
/* line 469, ../sass/screen.scss */
.body .post.loading p span.loading:after {
  content: "";
  width: 105%;
  background: rgba(225, 226, 231, 0.2);
  height: 1em;
  display: inline-block;
  position: relative;
  margin-top: .5em;
  background-image: linear-gradient(to left, rgba(225, 226, 231, 0.1), rgba(225, 226, 231, 0), 40%, rgba(225, 226, 231, 0.1), 50%, rgba(225, 226, 231, 0.1));
  background-size: 200%;
  animation-name: loadingAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
